body {
    font-family: 'montserrat', sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'LimeLight', sans-serif;
  }
  
  .title {
    font-family: 'Limelight', sans-serif;
    font-size: 40px;
    color: #DB504D;
  }

  .small {
    font-weight: 300;
    font-style: italic;
  }

/* STYLING FOR SEARCH BAR */
  .search{
    height: 200px;
    width: auto;
    background-color: #DB504D;
  }
  
  .search div {
    background-color: white;
    width: 20vw;
    height: 20vh;
  }

  .search label {
    font-size: 1.75vw;
    color: white;
    text-align: center;
    width: 40vw;
  }

  .search > form {
    color: #191919;
    width: 40vw;
  }
  
  .search > form > input {
    width: 100%;
    font-size: 1.25vw;
  }
  
  .suggestions{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #CFCFCD;
    border-top: 0px;
    padding-right: 5px;
    justify-items: center;
  }
  
  .suggestions div {
    width: 100%;
  }

  .suggestion{
    height: 40vh;
    width: 40vw;
    padding: 15px 5px;
    border-bottom: 1px solid #666;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .suggestion :hover{
    background: gray;
    cursor: pointer;
  }
  
  .suggestion img {
    width: 20vw;
    height: 20vh;
    border-radius: 3px;
  }
  
  .media-info p {
    margin: 5px 10px;
    text-align: left;
  }
  
  .media-title{
    font-weight:bold;
  }
/* STYLING FOR SEARCH BAR */

/* STYLING FOR MODAL */
.modalBackdrop {
	background: rgba(0, 0, 0, .65);
	bottom: 0;
	left: 0;
	overflow: auto;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
}

.modalContainer {
	background: var(--darker);
	border-radius: 5px;
	max-width: 100%;
	margin: 50px auto;
	padding: 15px;
	width: 960px;
}

.modalTitle {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
}
/* STYLING FOR MODAL */

/* STYLING FOR LOGIN/SIGNUP MODAL */

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color:#DB504D;
  color: white;
}

a {
  color: #DB504D;
}